<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onlyapps.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GridLayoutManagerActivity" />
        <activity android:name=".StaggeredGridLayoutManagerActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".DetailRevealBackgroundViewActivity" />
        <activity android:name=".AnimationActivity" />
        <activity android:name=".AnimationDetailActivity" />
        <activity android:name=".RevealBackgroundActivity" />
        <activity android:name=".AnimatedExpandableListViewActivity" />
        <activity android:name=".AnimatedExpandableSimpleListView" />
        <activity android:name=".listviewremovalanimation.ListViewRemovalAnimation" />
        <activity android:name=".CustomViewTestActivity" />
        <activity
            android:name=".DesignLibrarySample"
            android:theme="@style/DesignTheme" />
        <activity android:name=".ScrollViewSampleActivity" />
        <activity android:name=".ReaimListViewActivity" />
        <activity android:name=".AlarmManagerTestActivity" />
        <activity android:name=".UnigueIdActivity" />
        <activity
            android:name=".ZoomScrollViewSimpleActivity"
            android:theme="@style/DesignTheme" />

        <activity
            android:name=".ZoomScrollViewCustomActivity"
            android:theme="@style/DesignTheme"/>

        <!-- Broadcast receiver -->
        <receiver android:name=".appwidget.AlarmManagerBroadcastReceiver" />

        <!-- Widget Broadcast receiver -->
        <receiver
            android:name=".appwidget.TimeWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" />
        </receiver>

    </application>

</manifest>
