<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etsy.android.sample"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.onlyapps.sample.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.onlyapps.sample.GridLayoutManagerActivity" />
        <activity android:name="com.onlyapps.sample.StaggeredGridLayoutManagerActivity" />
        <activity android:name="com.onlyapps.sample.DetailActivity" />
        <activity android:name="com.onlyapps.sample.DetailRevealBackgroundViewActivity" />
        <activity android:name="com.onlyapps.sample.AnimationActivity" />
        <activity android:name="com.onlyapps.sample.AnimationDetailActivity" />
        <activity android:name="com.onlyapps.sample.RevealBackgroundActivity" />
        <activity android:name="com.onlyapps.sample.AnimatedExpandableListViewActivity" />
        <activity android:name="com.onlyapps.sample.AnimatedExpandableSimpleListView" />
        <activity android:name="com.onlyapps.sample.listviewremovalanimation.ListViewRemovalAnimation" />
        <activity android:name="com.onlyapps.sample.CustomViewTestActivity" />
        <activity
            android:name="com.onlyapps.sample.DesignLibrarySample"
            android:theme="@style/DesignTheme" />
        <activity android:name="com.onlyapps.sample.ScrollViewSampleActivity" />
        <activity android:name="com.onlyapps.sample.ReaimListViewActivity" />
    </application>

</manifest>
